:root{
    --primary: #2563EB;
    --primary-hover: #1D4ED8;

    --bg: #F5F7FB;
    --white: #FFFFFF;

    --text: #1F2937;
    --text-secondary: #6B7280;

    --border: #E5E7EB;

    --shadow: 0 10px 30px rgba(0,0,0,.15);

    --radius: 20px;
}