.navbar-custom{
    height:70px;
    background:#fff;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 30px;
    box-shadow:0 2px 10px rgba(0,0,0,.05);
}

.navbar-title{
    font-size:22px;
    font-weight:600;
}

.navbar-user{
    display:flex;
    align-items:center;
    gap:12px;
}

.navbar-user img{
    width:40px;
    height:40px;
    border-radius:50%;
}